$header-info-color: #50994F;
//blue
$main-color-blue: #12BCEC;
$border-presentation-color-blue: #4c7eb5;
$hypothec-color-first-blue: #4A4AA1;
$hypothec-color-second-blue: #AC64A9;
$hypothec-color-last-blue: #AB7284;

//green
$main-color-green: #50994F;
$border-presentation-color-green: #4e944d;
$hypothec-color-first-green: #699EC5;
$hypothec-color-second-green: #73D1CC;
$hypothec-color-last-green: #4F5299;