.about-top {
  .section-title {
    padding-bottom: 17px;
    margin-bottom: 16px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 60px;
      background: #E3E4E8;
      left: 0;
      bottom: 0;
    }
  }

  .section-row {
    @include desktop {
      columns: 2;
      column-gap: 82px;
    }
  }

  .section-text,
  .section-pic,
  .section-subtitle {
    margin-bottom: 24px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;

    @include tablet {
      margin-bottom: 32px;
    }
  }

  .section-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #686C7D;
  }

  .section-pic__desk {
    margin-top: 8px;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #BABBC5;
  }

  .section-subtitle {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #33353D;

    @include tablet {
      font-family: 'STIX Two Text', serif;
      font-weight: 600;
      font-size: 36px;
      line-height: 42px;
    }
  }
}