.hypothec {
  padding-bottom: 48px;

  @include desktop {
    padding-bottom: 116px;
  }

  .section-subtitle {
    margin-bottom: 42px;
    max-width: 546px;
    margin-right: auto;
    margin-left: auto;

    @include desktop {
      margin-bottom: 100px;
    }
  }

  .section-calculator {
    margin: 0 -20px;
    padding: 40px 10px;
    background: #F1F1F1;
    
    @include custom-media("600px") {
      margin: 0 auto;
      max-width: 600px;
    }

    @include desktop {
      max-width: 950px;
      padding: 40px 48px 30px 48px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .section-column--first {
    margin-bottom: 30px;

    @include desktop {
      padding-top: 26px;
      width: 380px;
    }
  }

  .section-column--last {
    border-top: 1px solid #D5D5D5;
    border-bottom: 1px solid #D5D5D5;
    padding-top: 15px;
    padding-bottom: 40px;

    @include desktop {
      width: 400px;
      border: none;
    }
  }

  .section-range {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .section-range__title {
    font-size: 16px;
    line-height: 26px;
    color: #333333;
  }

  .section-column__row {
    margin-top: -7px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .section-column__row--select {
    margin-top: 10px;
  }

  .section-column__input,
  .section-column__select {
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    padding: 10px;
    padding-right: 0;
    padding-left: 16px;
  }

  .section-column__input {
    padding-right: 16px;
    width: 106px;
  }

  .section-column__select {
    width: calc(100% - 120px);
    height: 46px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-image: url('/img/arrow-select.svg');
    background-position: right 10px center;
    font-size: 14px;

    @include custom-media("400px") {
      font-size: 18px;
      background-position: right 20px center;
    }
  }

  .secrion-column__row-last {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section-column__title {
    margin-bottom: 10px;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #333333;

    @include desktop {
      margin-bottom: 40px;
    }
  }

  .section-column__chart {
    flex-shrink: 0;
    width: 160px;
    height: 160px;
    margin-right: 15px;
    position: relative;

    @include custom-media("400px") {
      width: 180px;
      height: 180px;
      margin-right: 20px;
    }

    @include desktop {
      width: 210px;
      height: 210px;
    }
  }

  .section-column__chart-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .section-column__chart-num {
    font-weight: bold;
    font-size: 34px;
    line-height: 26px;
    color: #242424;
  }

  .section-column__chart-currency {
    font-size: 16px;
    line-height: 26px;
    color: #333333;
    margin-top: 4px;
  }

  .section-column__info {
    width: calc(100% - 175px);

    @include custom-media("400px") {
      width: calc(100% - 200px);
    }
  }

  .section-column__info-item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .section-column__info-title {
    font-size: 16px;
    line-height: 26px;
    color: #333333;
  }

  .section-column__info-num {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;

    @include custom-media("400px") {
      font-size: 20px;
    }
  }
  
  .section-column__result {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;

    @include desktop {
      justify-content: flex-start;
    }
  }

  .section-column__result-title {
    font-size: 16px;
    line-height: 26px;
    color: #333333;

    @include desktop {
      width: 210px;
      margin-right: 20px;
    }
  }

  .section-column__result-num {
    font-weight: bold;
    font-size: 34px;
    line-height: 26px;
    color: #242424;
  }

  .section-action {
    padding-top: 40px;
    width: 100%;
    text-align: center;

    .btn {
      width: 222px;
    }

    @include desktop {
      padding-top: 30px;
      border-top: 1px solid #D5D5D5;
    }
  }

  .irs--round {
    height: 40px;
    width: calc(100% - 120px);

    @include desktop {
      height: 24px;
    }

    .irs-line {
      top: 26px;
      height: 0px;

      @include desktop {
        top: 10px;
        height: 2px;
        background: #C6C9C5
      }
    }

    .irs-bar {
      top: 24px;
      height: 1px;

      @include desktop {
        top: 10px;
        height: 2px;
      }
    }

    .irs-handle {
      top: 10px;
      width: 30px;
      height: 30px;
      border: none;
      border-radius: 50%;
      box-shadow: none;

      &::before {
        content: "";
        position: absolute;
        width: 11px;
        height: 12px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url('/img/range-lines.svg');
        background-repeat: no-repeat;
      }

      @include desktop {
        top: 0;
        width: 24px;
        height: 24px;
        border: 2px solid #F1F1F1;

        &::before {
          display: none;
        }
      }
    }
  }
}