.header {
  padding-top: 40px;
  padding-bottom: 48px;
  text-align: center;

  @include desktop {
    padding-top: 72px;
    padding-bottom: 64px;
  }

  .logo {
    margin-bottom: 24px;
  }

  .section-row {
    @include desktop {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .main-title {
    position: relative;
    margin-bottom: 24px;
    font-family: 'STIX Two Text', serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 38px;

    @include desktop {
      padding-right: 17px;
      margin-right: 16px;
      margin-bottom: 0;

      &::before {
        content: "";
        position: absolute;
        height: 20px;
        width: 1px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: #E3E4E8;
      }
    }
  }

  .main-subtitle {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #686C7D;
  }
}