.presentation {
  background-image: linear-gradient(359.64deg, #E8E8E8 27.16%, rgba(232, 232, 232, 0) 99.81%);
  padding-bottom: 380px;
  padding-top: 40px;
  padding-right: 19px;
  padding-left: 24px;
  position: relative;
  overflow: hidden;

  @include desktop {
    padding-top: 230px;
    padding-bottom: 203px;
    padding-left: 182px;
    padding-right: 182px;
    background-image: linear-gradient(270.5deg, #E8E8E8 27.16%, rgba(232, 232, 232, 0) 99.81%);
    display: flex;
    overflow: visible;

    &.is-hover {
      .section-decor__icon {
        display: block;
      }
      .section-decor::before {
        opacity: 1;
      }
    }
  }

  .section-border {
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    top: 10px;
    left: 10px;

    @include desktop {
      top: 54px;
      left: 120px;
      width: calc(100% - 240px);
      height: calc(100% - 108px);
    }
  }

  .section-column {
    @include desktop {
      width: 450px;
    }
  }

  .section-title {
    text-align: left;
    position: relative;
    z-index: 3;
    line-height: 24px;

    @include desktop {
      line-height: 36px;
    }
  }

  .section-subtitle {
    margin-top: 13px;
    text-align: left;
    position: relative;
    z-index: 3;

    @include desktop {
      margin-top: 19px;
    }
  }

  .section-action {
    margin-top: 22px;
    text-align: left;
    position: relative;
    z-index: 3;

    @include desktop {
      margin-top: 14px;
    }

    .btn {
      width: 266px;
      padding-top: 2px;
      padding-bottom: 2px;
      height: 46px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        margin-right: 20px;
      }
    }
  }

  .section-decor {
    @include desktop {
      position: relative;
      width: calc(100% - 450px);

      &::before {
        content: "";
        pointer-events: none;
        opacity: 0;
        position: absolute;
        width: 825px;
        height: 448px;
        top: -92%;
        left: 18px;
        background-repeat: no-repeat;
        background-image: url('/img/presentation/book-overlay.png');
        z-index: 5;
        transform: rotate(-7deg);
        transition: .3s;
      }
    }
  }

  .section-decor__icon {
    display: none;
    position: absolute;
    top: 43%;
    transform: translateY(-50%);
    left: 61%;
    z-index: 6;
    cursor: pointer;
  }

  .section__img {
    max-width: none;
    position: absolute;
    width: 524px;
    bottom: 70px;
    left: calc(50% - 184px);
    z-index: 4;
    transform: rotate(-7deg);
    cursor: pointer;

    @include desktop {
      bottom: auto;
      width: auto;
      top: -92%;
      left: 18px;
    }
  }

  .download-pdf-link {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }
}