<section class="layouts colored" id="layouts" data-redesign="true">
  <div class="container">
    <div class="section-action section-action--second-screen" data-title="intro">
      <img data-src="img/new/arrow-back.svg" class="section-action__icon lazy">
      <p class="section-action__text">Click to go Layouts</p>
    </div>
    <h2 class="section-title">
      Các layout có sẵn của dự án
    </h2>
    <h3 class="section-subtitle">
      Khách hàng có thể chọn, đặt trước hay mua căn hộ
      chung cư tại The Opera Residences qua bảng giá sau đây
    </h3>
    @@include("../../shared/layouts/index.html")
  </div>
</section>
