.advantages {
  .section-title {
    margin-bottom: 40px;

    @include desktop {
      margin-bottom: 48px;
    }
  }

  .list-items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -16px;
  }

  .list-item {
    width: 50%;
    padding-bottom: 20px;
    margin-bottom: 16px;
    border-bottom: 1px solid #E3E4E8;

    &:nth-child(n + 13) {
      border-bottom: 0;
      padding-bottom: 0;
    }

    @include tablet {
      width: calc(100% / 3);
    }

    @include desktop {
      width: 20%;
      padding-bottom: 28px;
      margin-bottom: 24px;

      &:nth-child(n + 11) {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  .list-item__description {
    width: 110px;
    min-height: 52px;
    margin-top: 8px;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #33353D;
  }
}