.main {
  padding-bottom: 40px;

  .section-row {
    @include desktop {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }

  .section-col--actions {
    margin: -4px;
    @include desktop {
      // padding-top: 44px;
      margin: 0;
      width: 200px;
    }
  }

  .btn {
    display: inline-block;
    margin: 4px;
    // min-width: 200px;
    padding: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #686C7D;
    background-color: transparent;
    border: 1px solid #E3E4E8;
    cursor: pointer;
    transition: .3s;
    text-align: center;

    @include desktop {
      margin: 0;
      margin-bottom: 8px;
      width: 100%;
    }

    &:hover {
      background-color: #E3E4E8;
      border-color: #E3E4E8;
    }

    &.active {
      pointer-events: none;
      color: #FFFFFF;
      background-color: #12A3EC;
      border-color: #12A3EC;
    }
  }

  .section-col--content {
    margin-top: 24px;
    position: relative;

    @include desktop {
      margin-top: 0;
      width: calc(100% - 200px);
      padding-left: 40px;
    }
  }

  .iframes {
    position: relative;
    height: 500px;
    background: #F7F7F8;

    @include desktop {
      height: 528px;
    }

    &.hide {
      display: none;
    }
  }

  .iframe {
    display: none;
    height: 100%;
    border: 1px solid #F7F7F8;

    &.active {
      display: block;
    }
  }

  .instructions {
    background-color: #F7F7F8;
    padding: 30px 16px;

    @include desktop {
      padding: 44px 32px;
    }

    &.hide {
      display: none;
    }
  }

  .instructions__title {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
  }

  .instructions__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: -12px;

    @include desktop {
      flex-wrap: nowrap;
    }
  }

  .instruction {
    margin: 12px;
    display: flex;
    align-items: center;
  }

  .instruction__img {
    flex-shrink: 0;
    margin-right: 8px;
  }

  .instruction__text {
    margin: 0;
    width: calc(100% - 32px);
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #686C7D;
  }

  .footer {
    padding-top: 36px;
    display: flex;
    flex-wrap: wrap;
  }

  .footer-col {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
      margin-right: 0;
    }

    @include desktop {
      margin-right: 60px;
    }
  }

  .footer-col__title {
    margin-bottom: 8px;
    padding-right: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #BABBC5;
    flex-shrink: 0;

    @include desktop {
      margin-bottom: 0;
    }
  }

  .footer-col__desc {
    max-width: 250px;
    font-size: 14px;
    line-height: 20px;
    color: #686C7D;
  }

  .developer {
    @include desktop {
      margin-top: -14px;
    }
  }

  .info-2d {
    margin-top: 24px;
    margin-bottom: 16px;

    &.hide {
      display: none;
    }

    @include desktop {
      margin-top: 0;
      padding-left: 240px;
      width: 100%;
      order: -1;
    }
  }

  .info-2d-items {
    display: flex;
  }

  .info-2d-item {
    padding-right: 17px;
    margin-right: 16px;
    font-size: 16px;
    line-height: 28px;
    color: #686C7D;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 20px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background: #E3E4E8;
    }

    &:last-child {
      &::before {
        display: none;
      }
    }

    .colored {
      display: inline-block;
      min-width: 28px;
      font-weight: 300;
      color: #BABBC5;
    }
  }

  .toggle-views {
    display: flex;
    margin-bottom: 24px;
    @include desktop {
      position: absolute;
      top: 32px;
      right: 32px;
      z-index: 99;
    }

    &.hide {
      display: none;
    }
  }

  .toggle-views__item {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 28px;
    color: #33353D;
    background: #FFFFFF;
    border-radius: 50%;
    margin-right: 16px;
    cursor: pointer;
    border: 1px solid #E3E4E8;

    &[data-view="3d"]:not(.active) {
      color: #EC133A;
    }

    &.active {
      color: #fff;
      background: #12A3EC;
      border-color: #12A3EC;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .floor-plans {
    padding: 20px;
    text-align: center;
    background: #F7F7F8;

    &.hide {
      display: none;
    }

    @include desktop {
      padding: 48px;
    }
  }

  .floor-plan {
    display: none;

    img {
      max-width: 100%;
      width: auto;
      min-height: 378px;
      max-height: 480px;
      height: auto;

      @include desktop {
        min-height: 480px;
      }
    }

    &.active {
      display: block;
    }
  }
}