@import "modules/header/index";
@import "modules/cta/index";
@import "modules/intro/index";
@import "modules/slider/index";
@import "modules/reviews/index";
@import "modules/filter/index";
@import "modules/presentation/index";
@import "modules/gallery/index";
@import "modules/progress/index";
@import "modules/hypothec-new/index";
@import "modules/installment/index";
@import "modules/map/index";
@import "modules/footer/index";

@import "modules/modal/index";
@import "modules/modal/loader";