.modal-custom {
  .modal-column--content {
    padding: 15px 16px;

    @include desktop {
      padding: 55px 32px 20px;
    }
  }

  .modal-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #333333;
    max-width: 259px;
    margin-right: auto;
    margin-left: auto;

    @include desktop {
      margin-left: 0;
      max-width: none;
      line-height: 44px;
      text-align: left;
    }
  }

  .modal-separate {
    display: block;
    margin: 17px auto;

    @include desktop {
      margin-top: 9px;
      margin-bottom: 13px;
      margin-left: 0;
    }
  }

  .modal-subtitle {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    max-width: 288px;
    margin-right: auto;
    margin-left: auto;

    @include desktop {
      margin-left: 0;
      max-width: none;
      text-align: left;
    }
  }

  .modal-form {
    margin-top: 19px;
    text-align: center;

    @include desktop {
      margin-top: 53px;
      text-align: left;
    }
  }

  .form-input {
    width: 100%;
    max-width: 320px;
    margin-bottom: 25px;
    height: 46px;
    background: #F0F0F0;
    border-radius: 10px;
    padding: 10px 16px;
    outline: none;
    border: none;
    color: #000000;
    font-size: 16px;
    line-height: 23px;
  }

  .form-actions {
    width: 100%;
    text-align: center;

    @include desktop {
      text-align: left;
    }
  }

  .modal__btn {
    width: 222px;
  }

  .modal-star {
    margin-top: 21px;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #AAAAAA;

    @include desktop {
      text-align: left;
    }
  }

  .modal-column--image {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    overflow: hidden;
    line-height: 0;
  }

  .modal-column--pdf {
    height: 270px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
    position: relative;
    overflow: hidden;

    .modal__img {
      position: absolute;
      max-width: none;
      width: 350px;
      top: 10px;
      right: calc(50% - 188px);
      transform: rotate(-7deg);

      @include desktop {
        width: 740px;
        top: 50px;
        right: -175px;
      }
    }

    @include desktop {
      min-height: 540px;
    }
  }

  .modal-info {
    position: absolute;
    width: 100%;
    bottom: 17px;
    right: 0;
  }

  .modal-expert {
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
  }

  .modal-prof {
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: -4px;
  }

  .modal-pdf {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #AAAAAA;
  }

  .modal-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include desktop {
      justify-content: space-between;
      margin: 0 -17px;
    }
  }

  .modal-image {
    margin-top: 15px;

    @include desktop {
      width: calc(50% - 7px);
    }
  }

  &#modal-filter {
    @include desktop {
      .modal-column--content {
        width: 553px;
        padding-top: 22px;
        padding-bottom: 15px;
      }
    }
  }

  .modal-column--info {
    padding: 30px 20px;

    @include desktop {
      width: 401px;
      border-left: 1px solid rgba(51, 51, 51, 0.1);
      ;
      padding-left: 30px;
      padding-top: 22px;
    }

    .modal-title {
      margin-bottom: 20px;
    }
  }

  .modal-dop-info {
    width: 100%;
    border: 1px solid rgba(51, 51, 51, 0.1);
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: space-between;
    font-size: 26px;
    line-height: 26px;
    color: #333333;
    padding-top: 20px;
    padding-bottom: 20px;

    .small {
      font-size: 16px;
    }
  }

  .modal-dop-floor {
    @include desktop {
      margin: auto;
    }
  }

  .modal-price {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
  }

  .modal-expert {
    &__image {
      display: block;
      margin-top: 30px;
      margin-right: auto;
      margin-left: auto;

      @include desktop {
        margin-left: 0;
      }
    }

    &__title {
      text-align: center;
      margin-top: 7px;
      font-size: 20px;
      line-height: 36px;
      font-weight: 700;
      color: #333333;

      @include desktop {
        text-align: left;
      }
    }

    &__des {
      text-align: center;
      font-weight: 600;
      font-size: 16px;
      line-height: 26px;
      color: #8C8D8D;
      margin-top: -12px;

      @include desktop {
        text-align: left;
      }
    }

    &__btn {
      margin-top: 30px;
      width: 222px;
      padding: 13px 10px;
      text-align: center;
      border-radius: 50px;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      margin-right: auto;
      margin-left: auto;
      cursor: pointer;

      @include desktop {
        margin-left: 0;
      }
    }
  }

  &#modal-map {
    .modal-content {
      min-height: auto;
    }

    iframe {
      height: 544px;
    }
  }

  &#modal-thanks,
  &#modal-thanks-pdf {
    .modal-dialog {
      max-width: 514px;
    }

    .modal-content {
      flex-direction: column;
      min-height: auto;
      padding: 30px 20px 40px 20px;

      @include desktop {
        padding: 30px 30px 40px 30px;
      }
    }

    .modal-title {
      text-align: center;
      max-width: none;
      margin-left: auto;
    }

    .modal-separate {
      margin-left: auto;
    }

    .modal-subtitle {
      text-align: center;
      max-width: none;
      margin-left: auto;
    }
  }

  &#modal-thanks-pdf {
    .modal-title {
      font-size: 22px;
    }
  }
}

.modal-fullscreen {
  .modal-dialog {
    max-width: 610px;

    @media screen and (min-height: 630px) {
      max-width: 954px;
    }
  }

  .modal-slider {
    min-height: 176px;
  }

  .modal-content {
    width: 100%;
    height: 100%;
    min-width: 304px;
    min-height: 176px;
    background-color: transparent;
    margin-top: 40px;

    @include desktop {
      margin-top: 0;
    }
  }

  .modal__close {
    position: absolute;
    width: 23px;
    height: 23px;
    top: -41px;
    right: 0;
    background-color: transparent;
    outline: none;
    padding: 0;
    margin: 0;
    border: none;
    background-repeat: no-repeat;
    background-image: url('../img/close-icon.svg');
    background-size: contain;
    cursor: pointer;

    @include desktop {
      width: 16px;
      height: 16px;
      top: 0;
      right: -32px;
    }
  }

  .modal-slider {
    &.active {
      .slide {
        visibility: visible;
      }
    }

    &.activeOp {
      .slide {
        opacity: 1;
      }
    }
  }

  .slide {
    width: 100%;
    visibility: hidden;
    opacity: 0;
  }
}

.download-pdf-link-filter {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.modal-backdrop {
  background: rgba(115, 115, 132, 0.55);
  backdrop-filter: blur(10px);
}

.modal-custom--new {
  font-family: 'Lexend', sans-serif;
  color: #42424D;

  .modal-dialog {
    margin-right: 15px;
    margin-left: 15px;

    @include sm {
      margin-right: auto;
      margin-left: auto;
    }

    @include desktop {
      margin-top: 110px;
      max-width: 970px;
    }
  }

  .modal-content {
    border: 0;

    @include desktop {
      display: flex;
      flex-direction: row;
      min-height: 600px;
      overflow: hidden;
    }
  }

  .modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 0;
    cursor: pointer;

    @include desktop {
      display: inline-flex;
      align-items: center;
      top: 56px;
      right: 53px;
      z-index: 1;
    }

    &__text {
      display: none;

      @include desktop {
        display: block;
        margin-right: 8px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
      }
    }

    &__icon {
      width: 32px;
      height: 32px;
      font-size: 0;
      margin: 0;
      padding: 0;
      border: 0;
      background-color: transparent;
      border: 0;
      background-repeat: no-repeat;
      background-image: url("../img/new/close.svg");
      cursor: pointer;
    }
  }

  .modal-action {
    position: absolute;
    top: 24px;
    left: 24px;

    @include desktop {
      position: static;
      margin-bottom: 47px;
      margin-left: -13px;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
    }

    &__icon {
      @include desktop {
        width: 32px;
        margin-right: 8px;
        cursor: pointer;
      }
    }

    &__text {
      display: none;

      @include desktop {
        display: block;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #C0C0C8;
      }
    }
  }

  .modal-column--content {
    padding: 90px 27px 30px;

    @include desktop {
      width: 500px;
      padding: 56px 32px 20px 69px;
    }
  }

  .modal-form {
    max-width: 290px;
  }

  .modal-title {
    margin-bottom: 16px;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 38px;

    @include desktop {
      text-align: left;
      max-width: 290px;
    }
  }

  .modal-subtitle {
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

    @include desktop {
      max-width: 290px;
    }
  }

  .form-input {
    width: 100%;
    margin-bottom: 25px;
    height: 56px;
    padding: 19px 16px;
    background: #F7F7F8;
    border-radius: 4px;
    outline: none;
    border: none;
    color: #737384;
    font-size: 16px;
    line-height: 18px;
  }

  .form-validation {
    margin-bottom: 24px;
  }

  .form-validation .form-validation-error {
    top: 60px;
  }

  .iti {
    width: 100%;
    padding-left: 110px;

    .form-input {
      padding-left: 16px !important;
    }
  }

  .iti__flag-container {
    min-width: 102px;
  }

  .iti--separate-dial-code .iti__selected-flag {
    background: #F7F7F8;
  }

  .iti__selected-dial-code {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
  }

  .iti__arrow {
    width: 24px;
    height: 24px;
    border: 0;
    background-image: url("../img/new/arrow-down-input.svg");
  }

  .form-actions {
    text-align: center;

    @include desktop {
      text-align: left;
    }
  }

  .modal-column--pdf-new {
    height: 146px;
    padding-top: 13px;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: #12BCEC;
    border-radius: 0px 0px 4px 4px;

    @include desktop {
      height: auto;
      width: 470px;
      padding-top: 497px;
      border-radius: 0px 4px 4px 0px;
      overflow: visible;
    }
  }

  .modal__img {
    width: 356px;
    max-width: none;
    position: absolute;
    right: -60px;
    top: 45px;
    transform: rotate(-12.32deg);

    @include desktop {
      width: 627px;
      top: 119px;
      right: -86px;
    }
  }

  .modal-info {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
  }

  &#modal-recall-new {
    .modal-dialog {
      max-width: 502px;
      margin-top: 20px;
    }

    .modal-action {
      @include desktop {
        position: absolute;
        margin-bottom: 0;
        margin-left: 0;
        top: 56px;
        left: 53px;
      }
    }

    .modal-close {
      @include desktop {
        top: 56px;
        right: 53px;
        &__text {
          color: #BABBC5;
        }
      }
    }

    .modal-content {
      min-height: auto;
    }

    .modal-title {
      width: 100%;
      position: relative;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 16px;
      padding-bottom: 17px;
      font-weight: 600;
      font-size: 36px;
      line-height: 38px;
      color: #2B2B31;
      text-align: center;
      font-family: 'STIX Two Text', serif;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 60px;
        height: 1px;
        background: #E3E4E8;
      }
    }

    .modal-form {
      margin-right: auto;
      margin-left: auto;
    }

    .form-actions {
      text-align: center;
    }

    .modal-subtitle {
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      margin-bottom: 24px;
      max-width: 304px;

      @include desktop {
        margin-bottom: 40px;
      }
    }

    .modal-row {
      width: 100%;
      padding-top: 90px;
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 25px;
      text-align: center;

      @include desktop {
        padding-top: 135px;
        padding-bottom: 54px;
      }
    }
  }
}

.modal-custom--fullscreen {
  font-family: 'Lexend', sans-serif;
  color: #42424D;

  .modal-dialog {
    margin: 0;
    max-width: 1440px;

    @include desktop {
      margin-right: auto;
      margin-left: auto;
    }

    @include custom-media(1480px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .modal-content {
    border: 0;
    padding: 24px 15px 0;

    @include desktop {
      padding: 24px 53px 0;
      min-height: 100vh;
    }

    @include custom-media(1480px) {
      min-height: auto;
    }
  }

  .modal-header {
    padding: 0;
    border: none;
    margin-bottom: 30px;
  }

  .modal-body {
    padding: 0;
  }

  .modal-title {
    width: 100%;
    margin-bottom: 22px;
    font-weight: 400;
    font-size: 36px;
    line-height: 38px;
    color: #2B2B31;
    text-align: center;
    font-family: 'STIX Two Text', serif;

    @include desktop {
      margin-bottom: 40px;
    }
  }

  .modal-close {
    font-size: 0;
    cursor: pointer;

    @include desktop {
      display: inline-flex;
      align-items: center;
      top: 56px;
      right: 53px;
      z-index: 1;
    }

    &__text {
      display: none;

      @include desktop {
        display: block;
        margin-right: 8px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #C0C0C8;
      }
    }

    &__icon {
      width: 32px;
      height: 32px;
      font-size: 0;
      margin: 0;
      padding: 0;
      border: 0;
      background-color: transparent;
      border: 0;
      background-repeat: no-repeat;
      background-image: url("../img/new/close.svg");
      cursor: pointer;
    }
  }

  .modal-action {
    @include desktop {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
    }

    &__icon {
      @include desktop {
        width: 32px;
        margin-right: 8px;
        cursor: pointer;
      }
    }

    &__text {
      display: none;

      @include desktop {
        display: block;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #C0C0C8;
      }
    }
  }

  .modal-row {
    @include desktop {
      display: flex;
      justify-content: space-between;
    }
  }

  .modal-column--info {
    display: none;

    @include desktop {
      display: block;
      padding-left: 82px;
      padding-right: 32px;
    }

    .modal-title {
      color: #C0C0C8;
      margin-bottom: 0;
      border-bottom: 1px solid transparent;

      &.active {
        color: #2B2B31;
        border-bottom: 1px solid #2B2B31;
        pointer-events: none;
      }
      
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  .modal-column--sticky {
    position: sticky;
    top: 10px;
  }

  .modal-column--photo {
    max-width: 770px;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;

    @include desktop {
      .modal-title {
        display: none;
      }
    }
  }

  .photo {
    margin: 4px;
    font-size: 0;
    line-height: 0;

    img {
      width: 100%;
    }
  }

  .photo--half {
    width: calc(50% - 8px);
  }

  .modal-row-see-also {
    position: relative;
    padding-bottom: 53px;
    margin-top: 68px;
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
    z-index: 2;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: calc(100% - 137px);
      top: 137px;
      left: 0;
      background: #F7F7F8;
      z-index: -1;
    }

    @include desktop {
      margin-top: 0;
      padding-top: 80px;
      padding-bottom: 80px;
      margin-right: -53px;
      margin-left: -53px;

      &::before {
        top: 0;
        height: 100%;
      }
    }
  }

  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -8px -15px;

    @include desktop {
      // justify-content: flex-start;
    }
  }

  .feature {
    max-width: 270px;
    position: relative;
    display: flex;
    align-items: flex-start;
    margin: 8px 15px;
    padding: 4px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: pointer;
    text-align: left;

    &::before {
      content: "";
      width: 24px;
      height: 24px;
      position: absolute;
      right: 24px;
      bottom: 16px;
      background-image: url("../img/new/arrow-forward.svg");
      transition: .3s;
    }

    &::after {
      content: "";
      width: 24px;
      height: 24px;
      position: absolute;
      right: 24px;
      bottom: 16px;
      background-image: url("../img/new/arrow-forward-white.svg");
      transition: .3s;
      opacity: 0;
    }

    &:hover {
      background-color: #12BCEC;

      .feature__title,
      .feature__desc {
        color: #FFFFFF;
      }
      &::before {
        display: none;
      }
      &::after {
        opacity: 1;
      }
      // &::before {
      //   right: 16px;
      // }
      // .feature__decoration::before {
      //   transform: scale(1.05);
      // }
    }
  }

  .feature--presentation .feature__decoration::before {
    background-image: url('../img/new/intro-features-5.png');
  }

  .feature--layout .feature__decoration::before {
    background-image: url('../img/new/intro-features-2.png');
  }

  .feature--tour .feature__decoration::before {
    background-image: url('../img/new/intro-features-3.png');
  }

  .feature--360 .feature__decoration::before {
    background-image: url('../img/new/intro-features-4.png');
  }

  .feature__decoration {
    width: 104px;
    height: 112px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    background-color: #F7F7F8;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: .3s;
    }
  }

  .feature__content {
    width: calc(100% - 104px);
    padding-left: 18px;
    padding-top: 10px;
  }

  .feature__title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2B2B31;

    .colored {
      color: #EC133A;
    }
  }

  .feature__desc {
    padding-right: 40px;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #5A5A68;
  }

  .modal-row-bottom {
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;

    @include desktop {
      padding-top: 52px;
      padding-bottom: 52px;
    }
  }

  .modal-row-action {
    text-decoration: none;
  }

  .action-icon {
    display: inline-block;
    margin-bottom: 8px;
  }

  .action-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #C0C0C8;
  }

  @import '../shared/360/index.scss';

  &#modal-tour {
    .modal-body {
      width: 100%;
      max-width: 1170px;
      margin-right: auto;
      margin-left: auto;

      @include desktop {
        padding-bottom: 20px;
      }
    }

    .modal-title {
      margin-bottom: 12px;

      @include desktop {
        margin-bottom: 16px;
        text-align: left;
      }
    }
  }

  .tour-section {
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
    font-size: 0;
    line-height: 0;

    @include desktop {
      margin: 0;
    }
  }

  .tour-section__help {
    position: absolute;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(112, 116, 134, 0.55);
    backdrop-filter: blur(10px);
  }

  .tour-section-modal {
    padding: 35px;
    background: #FFFFFF;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    text-align: center;
  }

  .tour-section-modal__icon {
    margin-bottom: 16px;
  }

  .tour-section-modal__footnote {
    width: 144px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #BABBC5;
  }

  .VR-tour {
    width: 100%;

    @include desktop {
      height: 600px;
    }

    @include custom-media(1480px) {
      height: 664px;
    }
  }

  .tour-section-modal__action {
    margin-top: 24px;
    text-align: center;
    .btn-new {
      min-width: 232px;
      justify-content: center;
    }
  }

  &#modal-layouts {
    .modal-title {
      margin-bottom: 14px;

      @include desktop {
        margin-right: -53px;
        margin-left: -53px;
        padding-right: 135px;
        padding-left: 135px;
        margin-bottom: 35px;
        text-align: left;
      }
    }
  }

  &.second-screen {
    @include custom-media-max(1024px) {
      .layouts-section__info {
        display: none;
      }
  
      .layouts-section__actions {
        display: block;
      }
  
      .modal-action,
      .modal-close {
        display: none;
      }
  
      .modal-action--second-screen {
        display: inline-flex;
        align-items: center;
      }
    }
  }

  .modal-action--second-screen {
    display: none;

    @include desktop {
      display: none;
    }

    .modal-action__icon {
      margin-right: 8px;
    }

    .modal-action__text {
      display: block;
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      color: #C0C0C8;
    }
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

.modal-custom--small {
  font-family: 'Lexend', sans-serif;
  color: #42424D;

  .modal-dialog {
    max-width: 400px;

    @include custom-media(430px) {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .modal-content {
    border: 0;
    padding: 20px 24px 30px;
  }

  .modal-header {
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
  }

  .modal-header__title {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C8;
  }

  .modal-close {
    font-size: 0;
    cursor: pointer;

    @include desktop {
      top: 56px;
      right: 53px;
      z-index: 1;
    }

    &__icon {
      width: 32px;
      height: 32px;
      font-size: 0;
      margin: 0;
      padding: 0;
      border: 0;
      background-color: transparent;
      border: 0;
      background-repeat: no-repeat;
      background-image: url("../img/new/close.svg");
      cursor: pointer;
    }
  }

  .modal-action {
    @include desktop {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
    }

    &__icon {
      @include desktop {
        width: 32px;
        margin-right: 8px;
        cursor: pointer;
      }
    }
  }

  .modal-body {
    padding: 0;
  }

  .modal-action-image {
    margin-top: 16px;
    margin-right: -24px;
    margin-left: -24px;
    font-size: 0;
    line-height: 0;
    min-height: 143px;

    @include custom-media(375px) {
      min-height: 168px;
    }

    @include custom-media(425px) {
      min-height: 188px;
    }
    
    img {
      width: 100%;
    }
  }

  .modal-info {
    padding: 16px;
    margin-right: -24px;
    margin-left: -24px;
    border-bottom: 1px solid #E9E9EC;
  }

  .modal-info__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C8;
    text-align: center;
  }

  .modal-footnote {
    margin-top: 16px;
  }

  .modal-footnote__title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #2B2B31;
  }

  .modal-footnote__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #5A5A68;
    
  }

  .modal-actions {
    margin-top: 16px;
    text-align: center;

    .btn-new {
      min-width: 232px;
      justify-content: center;
    }
  }

  .modal-form {
    max-width: 290px;
    margin-right: auto;
    margin-left: auto;
  }

  .modal-title {
    margin-bottom: 16px;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 38px;

    @include desktop {
      text-align: left;
      max-width: 290px;
    }
  }

  .modal-subtitle {
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

    @include desktop {
      max-width: 290px;
    }
  }

  .form-input {
    width: 100%;
    margin-bottom: 25px;
    height: 56px;
    padding: 19px 16px;
    background: #F7F7F8;
    border-radius: 4px;
    outline: none;
    border: none;
    color: #737384;
    font-size: 16px;
    line-height: 18px;
  }

  .form-validation {
    margin-bottom: 24px;
  }

  .form-validation .form-validation-error {
    top: 60px;
  }

  .iti {
    width: 100%;
    padding-left: 110px;

    .form-input {
      padding-left: 16px !important;
    }
  }

  .iti__flag-container {
    min-width: 102px;
  }

  .iti--separate-dial-code .iti__selected-flag {
    background: #F7F7F8;
  }

  .iti__selected-dial-code {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
  }

  .iti__arrow {
    width: 24px;
    height: 24px;
    border: 0;
    background-image: url("../img/new/arrow-down-input.svg");
  }

  .form-actions {
    text-align: center;

    .btn-new {
      min-width: 232px;
      justify-content: center;
    }
  }

  .modal-broker {
    text-align: center;
  }

  .modal-broker__img {
    margin-bottom: 12px;
  }

  .modal-broker__title {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #2B2B31;
    text-transform: uppercase;
  }

  .modal-broker__text {
    margin-bottom: 24px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #5A5A68;
  }
}